.topicQuestion-container {
    width: 500px;
    margin: 20px;
    font-size: 22px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.question {}
.quizAndIcon{
    display: flex;
}


@media screen and (max-width:1100px) {
    .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .question {
        width: 100%;
    }

}

@media screen and (max-width:700px) {
    .options {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
        margin: 2px 10%;
    }

    .question {
        width: 60%;
        margin: 2px auto;
    }

    .topicQuestion-container {
        width: 80%;
        margin: 20px;
        font-size: 22px;
    }
}