.quizTopicMainDetails {
    width: 600px;
    margin: 10px auto;
}

.questionTopicName {
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

.question-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 0px;
    margin: 30px 250px;
    justify-content: center;

}


@media screen and (max-width:1100px) {
    .quizTopicMainDetails {

        margin: 10px auto;
    }

    .question-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 30px;
        justify-content: center;

    }
}

@media screen and (max-width:700px) {
.quizTopicMainDetails {

        
    }

    .question-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 30px;
        justify-content: center;

    }
}